<h1 id="indexh1"> Les clebards autour du <%= params[:address] %></h1>


<div class=container">
  <div class="row">
    <% @dogs.each do |dog| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url(<%= dog.photo.url %>);">
          <div class="card-category">Nearby</div>
              <%= link_to "", dog_path(dog), class: "card-link" %>
          <div class="card-description">
            <div>
              <h2> <%= dog.name %> </h2>
              <p><%= dog.breed %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
