<div class="wrapper">
  <h1 class="headers">Mes clebards</h1>
  <div class="margin-container">
    <div class="row">
        <% @dogs.each do |dog| %>
          <div class="col-xs-12 col-md-4">
            <div class="card" style="background-image: url(<%= dog.photo.url %>);">
              <div class="card-category">Ceci est ton chien</div>
                  <%= link_to "", dog_path(dog), class: "card-link" %>
              <div class="card-description">
                <div>
                  <h2> <%= dog.name %> </h2>
                  <p><%= dog.breed %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
      </div>
          <%= link_to "Ajouter un chien", new_dog_path, class: "btn btn-lg"%>
      </div>
    </div>
