<div class="wrapper">
  <%= cl_image_tag @dog.photo, height: 300, width: 400, crop: :fill, id: "photo" %>
  <div class="name"><h1><%= @dog.name %></h1></div>
  <div class="age"><%= @dog.age %></div>
  <div class="address"><%= @dog.address %></div>
  <div class="breed"><%= @dog.breed %></div>
  <div class="gender"><%= @dog.gender%></gender>
  <div class="description"><%= @dog.description %></description>
    </div>
      <%= simple_form_for [@dog, @reservation] do |f| %>
        <%= f.button :submit, "Envoyer ma demande", class: "btn btn-lg" %>
      <% end %>
  </div>
</div>

