<div class="wrapper">
  <div class="dog-show">
    <div class="card-product">
      <div class="col-xs-12 col-md-4">
      <%= cl_image_tag @dog.photo, height: 500, width: 600, crop: :fill, id: "photo" %>
      </div>
      </div>
        <div class="card-product-infos">
            <div class="description">
            <h1><%= @dog.name %></h1>
            <p><%= @dog.age %></p>
            <p><%= @dog.address %></p>
            <p><%= @dog.breed %></p>
            <p><%= @dog.gender%></p>
            <p><%= @dog.description %></p>
            </div>
            <% if @dog.user_id != current_user.id %>
              <%= simple_form_for [@dog, @reservation] do |f| %>
                <%= f.input :starts_at, as: :string, input_html: {class: "datepicker"} %>
                <%= f.input :ends_at, as: :string, input_html: {class: "datepicker"} %>
                <%= f.button :submit, "Je m'en occupe!", class: "btn btn-lg" %>
              <% end %>
            <% else %>
              <%= link_to "Retirer mon chien", dog_path,
                method: :delete,
                data: { confirm: "Vraiment?" },
                class: 'btn btn-warning' %>
            <% end %>
            <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
        </div>
      </div>
    </div>
  </div>
</div>



