<div class="wrapper">
  <div class="grid">
    <%= cl_image_tag @dog.photo, height: 300, width: 400, crop: :fill, id: "photo" %>
    <div class="description">
      <h1><%= @dog.name %></h1>
      <p><%= @dog.age %></p>
      <p><%= @dog.address %></p>
      <p><%= @dog.breed %></p>
      <p><%= @dog.gender%></p>
      <p><%= @dog.description %></p>
    </div>
      <%= link_to "Envoyer ma demande", new_user_registration_path, class: "btn btn-lg" %>
    </div>
  </div>
</div>

