<div class="wrapper">
  <div class="dog-show">
    <div class="card-product">
      <div class="col-xs-12 col-md-4">
      <%= cl_image_tag @dog.photo, height: 500, width: 600, crop: :fill, id: "photo" %>
      </div>
      </div>
        <div class="card-product-infos">
            <div class="description">
            <h1><%= @dog.name %></h1>
            <p><%= @dog.age %></p>
            <p><%= @dog.address %></p>
            <p><%= @dog.breed %></p>
            <p><%= @dog.gender%></p>
            <p><%= @dog.description %></p>
            </div>
            <%= simple_form_for [@dog, @reservation] do |f| %>

              <% if @dog.user_id != current_user.id %>
                <%= simple_form_for :search, method: "get" do |f| %>
                  <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
                  <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
                <%= f.button :submit, "Je m'en occupe!", class: "btn btn-lg" %>
              <% end %>
              <% if @dog.user_id == current_user.id %>
              <%= link_to "Retirer mon chien", dog_path,
            method: :delete,
            data: { confirm: "Vraiment?" },
            class: 'btn btn-warning' %>
            <% end %>
            <% end %>
            <div class="form-wrapper" style="width: 400px; margin: 0 auto;">

    <% end %>

  </div>
        </div>
  </div>
  </div>
</div>



