<div class="wrapper">
  <div class="dog-show">
    <div class="card-product">
      <div class="col-xs-12 col-md-4">
      <%= cl_image_tag @dog.photo, height: 500, width: 600, crop: :fill, id: "photo" %>
      </div>
      </div>
        <div class="card-product-infos">
            <div class="description">
            <h1><%= @dog.name %></h1>
            <p>Âge : <%= @dog.age %>ans.</p>
            <p>Adresse : <%= @dog.address %>.</p>
            <p>Race : <%= @dog.breed %>.</p>
            <p>Genre : <%= @dog.gender%>.</p>
            <p>Description : <%= @dog.description %>.</p>
            </div>
            <%= simple_form_for [@dog, @reservation] do |f| %>

              <% if @dog.user_id != current_user.id %>
                <%= f.button :submit, "Je m'en occupe!", class: "btn btn-lg" %>
              <% end %>
              <% if @dog.user_id == current_user.id %>
              <%= link_to "Retirer mon chien", dog_path,
            method: :delete,
            data: { confirm: "Vraiment?" },
            class: 'btn btn-warning' %>
            <% end %>
            <% end %>
        </div>
  </div>
  </div>
</div>



