
  <h1> My dog of the day </h1>

    <%= @reservation.dog.name %>
    <%= @reservation.dog.age %>
    <%= @reservation.dog.description %>
  <!--   <%= @reservation.confirmed?  %>
 -->
<%= link_to 'Back', root_path,  class: 'btn btn-warning' %>
