
<h1> Chien du jour </h1>
<ul>
  <li>Nom : <%= @reservation.dog.name %></li>
  <li>Âge : <%= @reservation.dog.age %> ans </li>
  <li>Description : <%= @reservation.dog.description %></li>
</ul>

  <!--   <%= @reservation.confirmed?  %> -->
<%= link_to 'Retour', root_path,  class: 'btn btn-warning' %>

 <!--   Supprimer une réservation en tant que current_user -->
  <%= if @current_user == @dog.user  %>
  <%= link_to "Supprimer ma réservation", dog_reservation_path([:dog_id]),
    method: :delete,
    data: { confirm: "Vraiment ?" },
    class: 'btn btn-warning' %>
    <%= else
    redirect_to dog_reservation_path([:dog_id]), notice: "You shall not pass ma gueule!" %>
  <% end %>
